@import url(./__button/info__button.css);
@import url(./__card/info__card.css);
@import url(./__card/info__card_theme_end.css);
.info__mini-container {
  display: flex;
  width: 33%;
  flex-direction: column;
}